
<div class="container paddingtop">
  <div class="row pb-3">
      <div class="col-lg">
          <h1 class="textgreen">Services</h1>
      </div>
  </div>
  <div class="gradeintgreen p-3 mb-5 rounded shadow">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                      <h3>Relaxation Massage</h3>
                      <p>Relaxation massage, which is the same as a Swedish massage, 
                          has many benefits when it comes to stress, immune system, relaxation, and all
                          around reboosting your body back to its homotosis state. Relaxation massage 
                          helps with stress because it can lower your heart rate and reduce levels of 
                          insulin and cortisol which helps boost your immune system. The massage techniques 
                          that go along promote the body’s outer tissue to promote relaxation of the mind 
                          and body. Relaxation massage also releases your body’s hormones that are 
                          responsible for your overall well-being, dopamine and serotonin, which kick 
                          your brain back into high gear. When it comes to relaxation massage, the reason 
                          to choose it is if you need to reset your self. If you are having pain then you
                          should choose treatment massage. </p>
              </div>
          </div>
      </div>  
  </div>
  <div class="gradeintgreen p-3 mb-5 rounded shadow">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                      <h3>Treatment Massage</h3>
                      <p>Treatment massage, also known as deep tissue, sports massage, or therapeutic 
                          massage, all help with if you are feeling any pain. Like relaxation massage, 
                          it has many positive effects on your body. It can help manage chronic pain, 
                          it can also help with stress, as well as improve any athletic performance 
                          you may need. Treatment massage helps set your muscles back to the level 
                          that they should be, without tightness caused by stress or injury. It helps 
                          manage pain by releasing dopamine that is your body’s own pain killer. 
                          The reason to get a treatment massage is if you are training for a marathon, 
                          working out, or you sit and stare at a computer screen all day. 
                          </p>
              </div>
          </div>
      </div>  
  </div>
  <div class="gradeintgreen p-3 mb-5 rounded shadow">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                      <h3>Prenatal Massage</h3>
                      <p>Prenatal massage is for when your baby is sitting on your sciatic, or if you’re 
                          retaining every ounce of liquid you put in your body. Also it is for after when 
                          you’re looking down while feeding, or still retaining liquids, or even to help
                          boost your body in breast feeding. 
                          </p>
              </div>
          </div>
      </div>  
  </div>
  <div class="gradeintgreen p-3 mb-5 rounded shadow">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                      <h3>CBD Oil Massage</h3>
                      <p>CBD is a new modality that has come out. It uses CBD to help with pain management 
                          and for those times when you just need a little more help to produce the dopamine 
                          inside. CBD can help those with pain that is caused from inflammation from arthritis, 
                          muscles that are effected by broken bones, muscles that are overworked and strained. 
                          CBD oil massages can also relieve neurological disorders like anxiety and depression. 
                      </p>
              </div>
          </div>
      </div>  
  </div>
  <div class="gradeintgreen p-3 mb-5 rounded shadow">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                      <h3>Reflexology Massage</h3>
                      <p>Reflexology is a way to help your body get back into check with itself. It uses reflexes 
                          on your hands, feet, and ears to communicate through your nerves to help reset. Reflexology 
                          can help treat pains and aches caused by headaches, migraines, and muscle pains. Reflexology 
                          can also improve blood circulation. 
                      </p>
              </div>
          </div>
      </div>  
  </div>
  <div class="gradeintgreen p-3 mb-5 rounded shadow">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                      <h3>Crainosacral Massage</h3>
                      <p>Crainosacral massage is a massage that is used a lot to help with migraines, autisum, and spinal 
                          injuries. It is a technique that focuses on the spinal fluid and nerves to enhance your body’s 
                          own healing abilities. Craniosacral work also helps release compression to alleviate stress and pain.

                      </p>
              </div>
          </div>
      </div>  
  </div>
  <div class="gradeintgreen p-3 mb-5 rounded shadow">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                      <h3>Oncology Massage</h3>
                      <p>Oncology massage is for those who have or had cancer. This technique is a gentler therapy that helps 
                          those manage pain, anxieties, and depression. Oncology massage can reduce pain and fatigue, depression, 
                          along with nausea.
                      </p>
              </div>
          </div>
      </div>  
  </div>
</div>
<div class="container">

  <hr class="paddingbot">
</div>
