

<div class="gray1">
  <!-- <div class="row  paddingtop">
    <div class="col-lg-12 text-center">
      <img src="../../assets/Pics/IMG_0311.PNG" alt="" height="100%" width="30%">
    </div>
  </div> -->
  <div class="container paddingtop mb-5">
    
      <h1 class="textgreen">Lotus Masáž Rates</h1>
  </div>
  <div class="row  px-5 lightgreen justify-content-center">
  
    <div class="col-lg-8 ">
      
      <table class="table table-responsive-lg table-striped" style="border-radius: 20px">
        
        <thead>
          <tr class="green4" >
            <th (click)="massages()" > Massage Type</th>
            <th>30 Minute Price</th>
            <th>60 Minute Price</th>
            <th>90 Minute Price</th>
            <th>120 Minute Price</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="massages()">
            <th (click)="massages()" class="textgreen"><button class="btn btn-link textgreen">Relaxation Massage</button></th>
            <th>$30</th>
            <th>$55</th>
            <th>$75</th>
            <th>$95</th>
          </tr>
          <tr (click)="massages()">
            <th (click)="massages()" class="text-light "><button class="btn btn-link textgreen">Oncology Massage</button></th>
            <th>$40</th>
            <th>$60</th>
            <th></th>
            <th></th>
          </tr>
          <tr (click)="massages()">
            <th (click)="massages()" class="text-light "><button class="btn btn-link textgreen">Treatment Massage</button></th>
            <th>$45</th>
            <th>$65</th>
            <th>$85</th>
            <th>$105</th>
          </tr>
          <tr (click)="massages()">
            <th (click)="massages()" class="text-light "><button class="btn btn-link textgreen">CBD Oil Massage</button></th>
            <th>(Spot Treatment) $60</th>
            <th>(Spot Treatment) <br /> $80  <br /> (Full Body Treatment) $85</th>
            <th>(Full Body Treatment) $105</th>
            <th>(Full Body Treatment) $125</th>
            
          </tr>
          <tr (click)="massages()">
            <th (click)="massages()" class="text-light "><button class="btn btn-link textgreen">Cupping with Massage</button></th>
            <th>$50</th>
            <th>$70</th>
            <th>$90</th>
            <th>$110</th>
          </tr>
          <tr class="text-center">
            <td colspan="5" >*MASSAGE SESSIONS INCLUDE TIME FOR CONSULTATION AND DRESSING.</td>
          </tr>
           
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center mb-5">
        <a class="mr-3 btn btn-outline-dark mt-2" href="https://visibook.com/lotusmasaz" target="_blank">Schedule an Appointment!</a>
  
    </div>
  </div>
  </div>
  <div class="row justify-content-center m-0 " style="width: 100%">
    
      <div class="col-sm-10">
          <img src="../../assets/Pics/greenelephstring.png" alt="" class="p-0" height="100%" width="100%">
    
      </div>
    </div>
  