<div class="container paddingtop">
  <h1 class="textgreen">Contact Us</h1>
  <div class="mt-5" #gmap id="gmap" style="width: auto; height: 450px; border-radius: 5px;"></div>
</div>

<!-- <div class="grey1">
    <div class="green4 p-3 mb-5 mt-5 rounded shadow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="">Late Policy</h3>
                    <ul>
                      <li>Appointment times have been arranged specifically for you, if you arrive late your appointment may be shortened to accommodate others whose appointment follows yours.</li>
                      <li>Depending on how late you arrive, determination will be made on whether enough time is remaining or a reschedule is preferred.   </li>
                      <li class="font-weight-bold">Regardless of the length of the massage given, you will be responsible for the full session fee.</li>
                    </ul>
                </div>
            </div>
        </div>  
    </div> -->
  <div class="container">
    <div class="row text-center p-0 m-0 mt-4">
      <div class="green4 p-3 rounded shadow col-lg-5">
        <h5 class="mb-0 mt-5">Massage Therapist: <small>Kaitlyn M.</small></h5>
        <h5 class="mb-0">Email: <small>kaitlynm@lotusmasaz.com</small></h5>
        <h5 class="mb-0">Phone: <small>(360)-536-6572</small></h5>
      </div>
  
      <div class="col-lg-2 mb-5">
        <img class="mt-3" src="../../assets/Pics/greenLotusmasaz.png" height="100%" width="100%" alt="picture">
      </div>
  
      <div class="green4 p-3 rounded shadow col-lg-5">
          <h5 class="mb-0 mt-5">Marketing Manager: <small>Suzi M.</small></h5>
          <h5 class="mb-0">Email: <small>suzim@lotusmasaz.com</small></h5>
          <h5 class="mb-0">Phone: <small>(360)-649-3370</small></h5>
      </div>
  
    </div>

  </div>
  <div class="container mt-5">

      <hr class="paddingbot">
  </div>