<div class="gray1">
  <div class="container paddingtop">
  
      <h1 class="textgreen">Cancellation & Policies</h1>
  
    <div class="row justify-content-center mt-5">
       <div class="col-lg-8 text-center">
          <h4>We understand that unanticipated events happen occasionally in everyone's life. In our desire to be effective and fair to all of our clients, and out of consideration for our time, We have adopted the following policies. </h4>
      </div>
    </div>
   
  
    <div class="green4 p-3 mb-5 mt-5 rounded shadow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="">Late Policy</h3>
                    <ul>
                      <li>Appointment times have been arranged specifically for you, if you arrive late your appointment may be shortened to accommodate others whose appointment follows yours.</li>
                      <li>Depending on how late you arrive, determination will be made on whether enough time is remaining or a reschedule is preferred.   </li>
                      <li class="font-weight-bold">Regardless of the length of the massage given, you will be responsible for the full session fee.</li>
                    </ul>
                </div>
            </div>
        </div>  
    </div>

    <div class="green4 p-3 mb-5 rounded shadow">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="">No-Show Policy</h3>
                    <ul>
                      <li>Anyone who either forgets or consciously chooses to forgo their appointment without contact will be considered a "no-show".</li>
                      <li class="font-weight-bold">Clients will be charged the full amount for their missed appointment.</li>
                      <li>Future service will be denied until payment is made.</li>
                    </ul>
                </div>
            </div>
        </div>  
    </div>

    <div class="green4 p-3 mb-5 rounded shadow paddingbot">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="">Cancellation Policy</h3>
                    <ul>
                      <li>24 hour advance notice is required when cancelling an appointment.</li>
                      <li> If unable to give advanced notice you will be charged 50% of the appointment fee.</li>
                    </ul>
                </div>
            </div>
        </div>  
    </div>
    <hr class="paddingbot">

  
  </div>
</div>